<div class="grid-container">
  <div class="grid-outside">
    <div class="grid-box">
      <div class="grid-content">
        <div>2</div>
        <div>1</div>
        <div>A</div>
        <div>7</div>
      </div>
    </div>
    <div class="grid-box">
      <div class="grid-content">
        <div>A</div>
        <div>7</div>
        <div>h</div>
        <div>8</div>
        <div>a</div>
      </div>
    </div>
  </div>

  <div class="grid-outside">
    <div class="grid-box">
      <div class="grid-content">
        <div>2</div>
        <div>1</div>
        <div>A</div>
        <div>A</div>
        <div>7</div>
        <div>h</div>
        <div>8</div>
        <div>7</div>
        <div>h</div>
        <div>8</div>
        <div>a</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
